.body {
    padding-top: 50px;
    margin: 20px;
}


table {
    width: 100%;
  }
 
  mat-form-field {
      width: 100%;
  }

  .mat-row:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.pre-text {
  color: #a0a0a0;
  margin-right: 10px;
}


.col-restr {
  width: 10%;
}

mat-expansion-panel {
  margin-bottom: 20px;
}

mat-checkbox {
  display: block;
}