<div class="body">

    <h1>Restrictions</h1>

    <mat-tab-group>
        <mat-tab label="Unverified">
            <unverified-restr></unverified-restr>
        </mat-tab>
        <mat-tab label="Verified">
            <verified-restr></verified-restr>
        </mat-tab>
      </mat-tab-group>

    <p-table #dt [columns]="selectedColumns" [value]="primeData" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[10, 20, 50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedRestr">

        <ng-template pTemplate="caption">

            <div style="text-align:left">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
            </div>

            <div style="text-align: right">        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>

        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>

            <tr>
                <td style="width: 40px !important;">
                </td>

                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'shortDescription'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" [style]="{minWidth: '100%'}" >
                    <p-multiSelect *ngSwitchCase="'restrictionType'" [options]="restrTypes" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '100%'}"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'areal'" [options]="areals" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '100%'}"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'arealIdentifier'" [options]="arealIdentifiers" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '100%'}"></p-multiSelect>
                </th>
            </tr>

        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td style="width: 40px !important;">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns" style="max-width: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" (click)="openDialog(rowData)" style="cursor: pointer;">
                    <mat-icon *ngIf="col.field =='restrictionType'" matTooltip="{{translateRestrictionType(rowData[col.field])}}">
                        {{translateRestrictionToIcon(rowData[col.field])}}
                    </mat-icon>
                     {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>

    </p-table>


<div style="height: 100px;"></div>










<!-- 

   <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Filter
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <mat-form-field>
                <mat-icon class="pre-text" matPrefix>search</mat-icon>
                <input matInput [(ngModel)]="query" (keyup)="applyFilter(this.query)" placeholder="Filter">
                <button mat-icon-button *ngIf="query" matSuffix (click)="this.query=''; applyFilter('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
    
            <mat-checkbox *ngFor="let restr of this.restrictionTypes">{{restr.viewValue}}</mat-checkbox>

            <button mat-button>reset filters</button>
        </mat-expansion-panel>
    
    



    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="shortDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> shortDescription</th>
            <td mat-cell *matCellDef="let element"> {{element.shortDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="restrictionType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> restrictionType</th>
            <td mat-cell *matCellDef="let element" class="col-restr">
                <mat-icon matTooltip="{{translateRestrictionType(element.restrictionType)}}">
                    {{translateRestrictionToIcon(element.restrictionType)}}
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="areal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> areal</th>
            <td mat-cell *matCellDef="let element" class="col-restr"> {{element.areal}} </td>
        </ng-container>

        <ng-container matColumnDef="review">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> review</th>
            <td mat-cell *matCellDef="let element"> {{element.review}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>

    </table>

</div>

<mat-paginator [pageSizeOptions]="[5, 50, 100]" showFirstLastButtons></mat-paginator>

-->
     


