<mat-toolbar mat-dialog-title>
    <mat-toolbar-row>
        <span class="modal-heading">#wirvsvirus | Pitch- & Konzeptvideo</span>
        <span class="spacer">
        </span>
        <mat-icon (click)="onClose()">close</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<span class="video-message">
        Wir haben für euch beim #wirvsvirus - Hackathon der Bundesregierung vom 20.03. - 22.03.2020 mitgemacht. 
</span>
<span style="margin-top: 10px; margin-top: 25px; margin-bottom: 25px; ">
        <a href="https://wirvsvirushackathon.org"><img src="../../assets/wvv-projekt.png" class="wvv-logo content-desktop"></a>
        <a href="https://www.darfichraus.de"><img src="../../assets/logo.svg" class="logo"></a>
</span>
<span class="video-message">
        Das Konzept und Pitch-Video zum Thema Krisenkommunikation könnt ihr euch hier ansehen.
</span>

<iframe width="560" height="315" [src]="this.safeURL" frameborder="0" allowfullscreen (load)="isLoading=false"></iframe>

<p class="loading" *ngIf="isLoading">loading...</p>