.loading {
    margin: auto;
}

mat-icon:hover {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

mat-tooolbar, mat-toolbar-row {
    background-color:transparent
}

.mat-dialog-title {
    //padding: 24px;
    margin: -24px -24px 24px -24px;
    width: auto;
}

.video-message{
    margin-bottom: 15px; 
    font: 14px/16px Arial, Helvetica, sans-serif;
}

.logo {
    height: 60px;
}

.wvv-logo {
    width: 250px;
    float: left;
}