.loading {
    margin: auto;
}

.mat-toolbar {
    background: #f5f5f5;
    color: rgba(0,0,0,.87);
}

.video-message{
    margin-bottom: 15px; 
    font: 14px/16px Arial, Helvetica, sans-serif;
}

.logo {
    height: 60px;
}

.wvv-logo {
    width: 250px;
    float: left;
}