

<!-- 


    <div class="container" fxLayout="row" fxLayoutAlign="center start">


    <mat-card class="mw" fxFlex="500px" fxFlex.xs="100">
        <mat-card-header>
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                <mat-form-field  appearance="outline">
                    <mat-label>Email</mat-label>
                    <mat-icon class="formPrefix" matPrefix>email</mat-icon>
                    <input required type="text" formControlName="email" matInput placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <mat-error *ngIf="f.email.touched && f.email.errors?.required">Email address missing.</mat-error>
                    <mat-error *ngIf="f.email.touched && f.email.errors?.pattern">Email address invalid.</mat-error>
                </mat-form-field>

                <mat-form-field  appearance="outline">
                    <mat-label>Password</mat-label>
                    <mat-icon class="formPrefix" matPrefix>lock</mat-icon>
                    <input required type="password" formControlName="password" matInput placeholder="Password">
                    <mat-error *ngIf="f.password.touched && f.password.errors?.required">Password missing.</mat-error>
                </mat-form-field>

                <button class="mw" color="primary" type="submit"
                    [disabled]="!loginForm.valid"
                    mat-stroked-button>Login</button>
            </form>

                <button type="button" color="primary" mat-button routerLink="/user-forgot">Forgot
                    Password?
                </button>
                <button type="button" color="primary" mat-button routerLink="/signup">Don't have an account
                    yet?
                </button>

        </mat-card-content>

    </mat-card>


</div>

   
-->


<div class="login-wrapper">
    <form class="login" [formGroup]="loginForm">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            DIR Admin Login
            <h5 class="hint">Use your email address to sign in</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <input type="text" name="username" clrInput placeholder="Email" formControlName="email"/>
            </clr-input-container>
            <clr-password-container>
                <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
            </clr-password-container>
            <div class="error active" *ngIf="error">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary submit" (click)="onLogin()">Login</button>
            <a class="signup" ></a>
            <button class="btn btn-link" (click)="onForgotPassword()">Forgot your password?</button>

        </div>
    </form>
</div>



    