
<!-- <mat-card style="margin-bottom: 30px;"> -->

    <div style="margin-bottom: 30px;">
    <h3>
        <ng-content select="[n-title]"></ng-content>
    </h3>
    <h6 ><ng-content select="[n-date]"></ng-content></h6>

   

    <div style="margin-top: 20px;" fxLayout="row" fxLayoutAlign="space-between start">
        
        <p fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
            <ng-content select="[n-body]"></ng-content>
        </p>
        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
            <div style="text-align: center;">
                <ng-content select="[n-image]"></ng-content>
            </div>
        </div>
    </div>
   
    <mat-divider style="margin-top: 30px;"></mat-divider>
    </div>
<!-- </mat-card> -->


