
mat-radio-button {
    margin-right: 10px;
    margin-bottom: 20px;
}




.modal-heading {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
  }

  .mat-dialog-title {
    margin: -24px -24px 0px -24px;
    width: auto;
}

textarea {
    height: 70px;
  }


  form {
    border-right: 10px solid #f5f5f5;
    padding-right: 24px;
    margin-right: 24px;
  }












.modal {
    height: 100%;
    display: flex;
   flex-direction: column;
}

.modal__content {
    padding: 0px 24px 12px 24px;
    height: 100%;
    overflow: hidden;
}

.dialog-actions {
    padding: 10px;
}

.left-column {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.right-column {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}