.max-width {
    width: 100%;
}

.mat-dialog-title {
    //padding: 24px;
    margin: -24px -24px 24px -24px;
    width: auto;
}

.contact-message{
    margin-bottom: 15px; 
    font: 14px/16px Arial, Helvetica, sans-serif;
}