.max-width {
    width: 100%;
}

.mat-dialog-title {
    //padding: 24px;
    margin: -24px -24px 24px -24px;
    width: auto;
}

.modal-heading {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    margin-left: 5px;
  }