<dir-header>
    Kontakt
</dir-header>


<dir-content>
   
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">

       
       

        <form [formGroup]="myForm" class="contact-form" fxFlex="55" fxFlex.sm="80" fxFlex.xs="100">
            <div>
                <p>Zurzeit ist es <b>nicht</b> möglich uns mit diesem Formular zu kontaktieren. Bitte schreiben Sie
                    uns eine Email an <a href="mailto:anfrage@darfichraus.de">anfrage@darfichraus.de</a></p>
                <div style="margin-bottom: 15px;">
                    <span>
                        Für Anfragen jeglicher Art benutzt bitte das unten stehende Kontaktformular.
                        Wir helfen gerne weiter und kümmern uns so schnell wie möglich um Eure Anfragen.
                    </span>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    
                <mat-form-field appearance="outline" fxFlex="48" fxFlex.sm="100" fxFlex.xs="100">
                    <mat-label>Vorname</mat-label>
                    <input required formControlName="firstName" matInput maxlength="32">
                    <mat-error *ngIf="f.firstName.touched && f.firstName.errors?.required">Vorname fehlt.</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="outline" fxFlex="48" fxFlex.sm="100" fxFlex.xs="100">
                    <mat-label>Nachname</mat-label>
                    <input required formControlName="lastName" matInput maxlength="32">
                    <mat-error *ngIf="f.lastName.touched && f.lastName.errors?.required">Nachname fehlt.</mat-error>
                </mat-form-field>
    
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    
                <mat-form-field appearance="outline" fxFlex="48" fxFlex.sm="100" fxFlex.xs="100">
                    <mat-label>Email</mat-label>
                    <input required type="text" formControlName="email" matInput placeholder="Email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <mat-error *ngIf="f.email.touched && f.email.errors?.required">Email Adresse fehlt.</mat-error>
                    <mat-error *ngIf="f.email.touched && f.email.errors?.pattern">Ungültige Email Adresse</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="outline" fxFlex="48" fxFlex.sm="100" fxFlex.xs="100">
                    <mat-label>Titel</mat-label>
                    <input required formControlName="title" matInput maxlength="32">
                    <mat-error *ngIf="f.title.touched && f.title.errors?.required">Titel fehlt.</mat-error>
                </mat-form-field>
    
            </div>
    
            <mat-form-field appearance="outline">
                <mat-label>Nachricht</mat-label>
                <textarea required formControlName="message" matInput maxlength="1024"></textarea>
                <mat-error *ngIf="f.message.touched && f.message.errors?.required">Nachricht fehlt.</mat-error>
            </mat-form-field>
    
    
    
            <div style="margin-bottom: 30px;">
    
                Ihre Daten werden gemäß unserer <a routerLink="../datenschutz">Datenschutzerklärung</a>
                DSGVO-konform verarbeitet.
    
            </div>
    
            <re-captcha required formControlName="recaptcha"></re-captcha>
    
    
    
            <!-- <mat-divider style="margin-top: 50px; margin-bottom: 50px;"></mat-divider> -->

            <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 30px;">
                <button mat-stroked-button (click)="onSubmit()"  disabled>Senden</button>

                <div>
                    <a href="mailto:anfrage@darfichraus.de"><fa-icon class="envelope" [icon]="faEnvelope"></fa-icon></a>
                    <a href="https://www.instagram.com/darfichraus?/"><fa-icon class="instagram" [icon]="faInstagram"></fa-icon></a>
                    <a href="https://twitter.com/darfichraus"><fa-icon class="twitter" [icon]="faTwitter"></fa-icon></a>
                </div>
                
            </div>
            
        </form>
    </div>
    
</dir-content>