.contact-form {
}

fa-icon {
    font-size: 200%;
    color: #acacac;
    transition: 0.2s;
}

.instagram:hover {
    color: #E1306C;
}

.twitter:hover {
    color: #1DA1F2;
}

.envelope:hover {
    color: #142f43;
}

a {
    margin: 10px;
}