/* Styles for Map Container can be added here */
.map-container {
   /*  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 70px; */
    width: 100%;
    height: calc(100% - 45px);
  }

  #map {  
    height: 100%;
  }

  /*
  #map:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 10%;
    background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -moz-linear-gradient(left,  rgba(255,0,0,0), rgba(255,255,255,1));
    background: -webkit-gradient(linear, left, from(rgba(255,0,0,0)), to(#ffffff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,0', endColorstr='rgba(255,255,255,1)');
    background: -o-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
    z-index: 999;
  }
  */

  /*
  .leaflet-bar a {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #444;
    display: block;
    height: 26px;
    width: 26px;
    line-height: 1.45 !important;
    text-align: center;
    text-decoration: none;
    font: bold 18px 'Lucida Console', Monaco, monospace;
  }*/

  