<div class="parent">

  <mat-sidenav-container class="child">
    <mat-sidenav #drawer mode="over" >
  
      <mat-toolbar>
        <mat-toolbar-row>
          Menu
        </mat-toolbar-row>
      </mat-toolbar>
  
      <mat-list>
      
  
          <a mat-list-item routerLink="/" style="height: 0;"></a>
  
          <mat-list-item [routerLink]="['restrictions']" (click)="drawer.toggle()" routerLinkActive="list-item-active">
            <mat-icon matListIcon>security</mat-icon>
            Restrictions
          </mat-list-item>
  
          <mat-list-item [routerLink]="['subscriptions']" (click)="drawer.toggle()" routerLinkActive="list-item-active">
            <mat-icon matListIcon>bookmark</mat-icon>Subscriptions          </mat-list-item>
  
      </mat-list>
      
    
    </mat-sidenav>
    <mat-sidenav-content>
  
      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()" color="primary">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Admin Panel</span>
          <span class="spacer"></span>
          <mat-icon >settings</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
  
      <router-outlet></router-outlet>
  
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  
  

</div>

