.map-container {
   /*  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 70px; */
    width: 69%;
    height: 100%;
  }

  .map-frame {
    height: 100%;
    width: 100%;
  }


  #map {  height: 100%; }
