<div class="body">

    <h1>Subscriptions</h1>
    
    <p-table #dt [value]="primeData" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  [(selection)]="selectedRestr"
    [(contextMenuSelection)]="selectedSub" [contextMenu]="cm">
    
        <ng-template pTemplate="caption">
           
            <div style="text-align: right">        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:100%">
            </div>

        </ng-template>

        

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>

            <tr>
                <td style="width: 40px !important;">
                </td>

                <th *ngFor="let col of cols" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'email'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" >

                </th>
            </tr>


        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pContextMenuRow]="rowData">
                <td style="width: 40px !important;">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of cols" class="overflow" (click)="openDialog(rowData)" style="cursor: pointer;">
                    
                    <div *ngIf="col.field =='types'">
                        <mat-icon *ngFor="let item of rowData[col.field]">
                            {{translateRestrictionToIcon(item)}}
                        </mat-icon>

                    </div>
                    
                    
                    
                     {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>

    </p-table>

    <p-contextMenu #cm [model]="items"></p-contextMenu>

    <div style="height: 100px;"></div>


</div>