
.deutschland {
  font-family: "Playfair Display", serif;
  font-size: 300%;
}

.feedItem {
  //font-family: "Playfair Display", "serif";
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 27px;
}



.container {
  margin-top: 30px;
  //overflow-y: scroll;
}

.container:after {
    content:'';
    display: inline-block;
    top: 10px;
    border-top: 1px dotted #828282;
    height: 1px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.feed-list {
  height: calc(100% - 240px);
  //height: 100%;
  //position: relative;
  overflow-y: auto;

}

.feed-item-container:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

a {
  font-family:Arial,Verdana,Helvetica;
  font-size:12pt;
  text-decoration:none;
}

a:hover {

  color:#808080;
}




.my-icon {
  margin: 10px;
  color: #a0a0a0;
  transition: 0.2s;
}

mat-icon {
  cursor: pointer;
  font-size: 30px;
}

.my-icon.directions_bus:hover, .directions_bus.selected {
  color: #3A49CB;
}

.my-icon.people:hover, .people.selected{
  color: #6E5BE1;
}

.my-icon.restaurant_menu:hover, .restaurant_menu.selected {
  color: #2584B4;
}

.my-icon.map:hover, .map.selected {
  color: #268478;
}

.my-icon.shopping_cart:hover, .shopping_cart.selected {
  color: #B4C03F;
}

.my-icon.cancel:hover, .cancel.selected {
  color: #FAC401;
}

