<p>meldeform works!</p>


<!-- 

    <form [formGroup]="myForm" (ngSubmit)="onAccept()">

    <p>Geltungsbereich</p>

    <mat-form-field class="max-width" appearance="standard">
      <mat-icon matPrefix class="form-field-prefix">vpn_key</mat-icon>
      <mat-label>Role name</mat-label>
      <input required type="text" formControlName="name" matInput placeholder="Role name">
      <mat-error *ngIf="f.name.touched && f.name.errors?.required">The name cannot be empty.</mat-error>
      <mat-error *ngIf="f.name.touched && f.name.errors?.minlength">The name is too short.</mat-error>
      <mat-error *ngIf="f.name.errors?.maxlength">The name is too long.</mat-error>
    </mat-form-field>




    <p> Kategorie</p>

    <mat-form-field class="max-width" appearance="standard">
      <mat-icon matPrefix class="form-field-prefix">textsms</mat-icon>
      <mat-label>Description</mat-label>
      <input type="text" formControlName="description" matInput placeholder="Role description">
    </mat-form-field>

    <mat-form-field class="max-width" appearance="standard">
      <mat-label>Search for permissions</mat-label>
      <mat-icon matPrefix class="form-field-prefix">search</mat-icon>
      <input matInput #permInput id="permInput" placeholder="permission name">
      <button mat-button *ngIf="permInput.value" matSuffix mat-icon-button (click)="permInput.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </form>
    
-->


<h2>Geltungsbereich</h2>


<h2>Kategorie</h2>


<h2>Gültigkeit</h2>

<!-- <mat-form-field>
    <mat-label>Anfang</mat-label>
    <input mat-input>
    <mat-datepicker></mat-datepicker>
</mat-form-field> -->

<button mat-stroked-button>Abbrechen</button>
<button color="primary" mat-stroked-button>Senden</button>