<dir-header>
    Aktuelles
</dir-header>

<dir-content>

    <news-wrapper>
        <span n-title>Entwicklung einer iOS und Android App von "Darf ich raus"</span>
        <span n-date>12. April</span>
        <span n-body>Eine gesamtheitliche Lösung besteht nicht nur aus einer Web Applikation, sondern auch aus mobilen
            Apps. Zurzeit wird mit Nachdruck an einer Applikation für sowohl Android als auch iOS gearbeitet. Hier
            sollen der Feed als auch die Karte dem mobilen Nutzer schnell und einfach Informationen vermitteln.</span>
        <img style="width: 400px;" n-image src="../../../../assets/phones-cut.png">
    </news-wrapper>

    <news-wrapper>
        <span n-title>Erfolgreiche Bewerbung beim Solution Enabler Programm</span>
        <span n-date>07. April 2020</span>
        <span n-body>Durch die erzielten Fortschritte gelingt nun auch die erfolgreiche Bewerbung für die nächste Stufe
            im "Wir vs. Virus" Hackathon: das Solution Enabler Programm. Hier stehen den Teams diverse Experten und
            Paten zur Verfügung, um die Entwicklung der Projekte und Lösungen zu ermöglichen.</span>
        <img style="width: 320px;" n-image src="../../../../assets/logo_se.svg">
    </news-wrapper>

    <news-wrapper>
        <span n-title>Teilnahme am Wir vs. Virus Hackathon</span>
        <span n-date>22. März 2020</span>
        <span n-body>Nach der Teilname am von der Bundesregierung aufgestellten Hackathon beschließt das Kernteam, an
            der
            Erstellung einer Kriseninformationsplattform weiterzuarbeiten. In den kommenden Wochen wird nun die Webseite
            verbessert und ein robusteres Backend geschaffen.</span>
        <img style="width: 390px;" n-image src="../../../../assets/logo-wvv.svg">
    </news-wrapper>



</dir-content>