.heading {
    font-size: 300%;
}

.info {
    margin-bottom: 50px;
}

.ort {
    font-weight: bold;
    margin-bottom: 10px;
}

.titel {
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 10px;
}

.datum {
    //float: right;
    margin-bottom: 10px;
}

.container {
    margin-bottom: 50px;
}