.heading {
  font-size: 300%;
}

.feedItem {
  margin-bottom: 50px;
}

.ort {
  font-weight: bold;
  margin-bottom: 10px;
}

.titel {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 20px;
}

.type {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 135.69%;
}

.text {
  margin-bottom: 10px;
  font-family: "Source Sans Pro", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135.69%;
}

.subhead {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.datum {
  //float: right;
  margin-bottom: 10px;
  text-align: right;
}

.furtherInformation {
  float: right;
  text-right: right;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  margin-bottom: 50px;
}
