<mat-toolbar>
  <img src="../assets/wvv-projekt.png" class="wvv-logo">
  <span class="spacer"></span>
  <img src="../assets/logo.svg" class="logo">
</mat-toolbar>




<div class="content-body">

  <div id="background-map" class="map-cont">
    <app-map></app-map>
  </div>

  <div class="non-clickable" fxLayout="row" fxLayoutAlign="space-around center">


    <div fxFlex="10">
      <mat-list class="icon-list">
        <mat-list-item (click)="onBus()">
          <mat-icon>directions_bus</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>people</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>restaurant_menu</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>eco</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>shopping_cart</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>close</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>


    <div class="center-column" fxFlex="60">
      <div id="bottom-controls">
        <button class="btn">Keine Einschränkung</button>
        <button class="btn">Einschränkung</button>
        <button class="btn">Verbote</button>
      </div>
      
      <!-- <app-meldeform></app-meldeform> -->

    </div>


    <div class="feed" fxFlex="30">

      <app-feed></app-feed>

    </div>


  </div>








</div>





<router-outlet></router-outlet>