.content-body {
    padding: 10px;
}



.icon-list {
    width: 50px;
}

mat-list-item:hover {
    cursor: pointer;
}

.logo {
    height: 60px;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: transparent;
    z-index: 2 !important;
}

button {
    width: 190px;
}

.wvv-logo {
    width: 250px;
}


.map-cont {
    width: 100%;
    height: 600px;
    background-color: green;
}