.content-body {
    padding: 100px;
}



.icon-list {
    width: 50px;
}

mat-list-item:hover {
    cursor: pointer;
}

.logo {
    height: 60px;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: transparent;
}

button {
    width: 200px;
}

.wvv-logo {
    width: 250px;
}