

mat-toolbar {
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: transparent;
}

.toolbar-links{
    font: 12px/14px Arial, Helvetica, sans-serif;
    
}

.logo {
    height: 60px;
}

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: transparent;
    z-index: 2 !important;
}

.wvv-logo {
    width: 250px;
}