<clr-main-container>
    <clr-header class="header-6">
        <div class="branding">
            <a [routerLink]="'home'" class="nav-link">
                <img class="dir-logo" src="../../../../assets/logo_min.svg">
                <span class="title">Darf ich raus?</span>
            </a>
        </div>
        <div class="header-actions">
            <img src="../../../../assets/logo_se_white.svg" style="width: 150px;">
            <a routerLink="../login" class="nav-link nav-text">
                Anmelden
            </a>

        </div>
    </clr-header>

    <nav class="subnav" [clr-nav-level]="1">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="'home'">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="'feed'">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="'about'">Über</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="'aktuelles'">Aktuelles</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="'kontakt'">Kontakt</a>
            </li>
        </ul>
    </nav>

    <div class="content-container">
        <main class="content-area">
            <router-outlet></router-outlet>
        </main>
        <div class="clr-footer" fxLayout="row" fxLayoutAlign="space-between center">
            <div> <a class="footer-link link" routerLinkActive="active" [routerLink]="'impressum'">Impressum</a>
                <span>|</span>
                <a class="footer-link link" routerLinkActive="active" [routerLink]="'datenschutz'">Datenschutz</a></div>
            <div>
                <a class="footer-link" href="https://www.instagram.com/darfichraus?/">
                    <fa-icon class="instagram" [icon]="faInstagram"></fa-icon>
                </a>
                <a class="footer-link" href="https://twitter.com/darfichraus">
                    <fa-icon class="twitter" [icon]="faTwitter"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</clr-main-container>



<!-- 
</div>
    -->