.logo {
    height: 60px;
}

.wvv-logo {
    width: 250px;
    float: left;
}

.mat-dialog-title {
    //padding: 24px;
    margin: -24px -24px 24px -24px;
    width: auto;
}

mat-icon:hover {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}
