.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 200px;
    border: 2px dashed gray;
    border-radius: 3px;
    transition: all 500ms ease !important;

    &.hovering {
        border-style: solid !important;
        border: 2px dashed gray;
        border-radius: 3px;
        background-color: #f0f0f0;
        transition: all 500ms ease !important;

    }
}

.hide-input {
    display: none;
}

.mat-list-icon, .mat-icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 20px;
  }

  .mat-divider {
      margin-top: 30px;
  }


  .upload {
      margin-top: 30px;
  }