<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>-->
<div class="map-container">

    <div class="leaflet-control-container">
      <div class="leaflet-top leaflet-left">
        <div class="gin-control-zoom leaflet-bar leaflet-control" style="top: 80px; left: 0px; cursor: pointer">
          <a
            class="gin-control-zoom-home" (click)="zoomToHomeView()" title="Zoom home"><fa-icon [icon]="faHome"></fa-icon> </a></div>
      </div>
    </div>
    <div id="map"></div>
</div>
