<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a [routerLink]="'../'" class="nav-link">
                <img class="dir-logo" src="../../../../assets/logo_min.svg">
                <span class="title">Admin Panel</span>
            </a>
        </div>
        <div class="header-actions">

            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                    {{this.authService.getUserEmail()}}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a (click)="this.authService.onLogout()" clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>

        </div>
    </header>
    <!-- <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="'advisor'">Advisor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="'restrictions'">Restrictions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="'subscriptions'">Subscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="'user-management'">User Management</a>
            </li>
        </ul>
    </nav> -->
    
    <div class="content-container">
        <nav class="sidenav" [clr-nav-level]="1">
            <section class="sidenav-content">
    
                <section class="nav-group">
                    <label for="tabexample1"><fa-icon class="sidenav-icon" [icon]="faComment"></fa-icon>Advisor</label>
                    <ul class="nav-list">
                        <li><a class="nav-link" [routerLink]="'advisor/situation-types'">Situation Types</a></li>
                        <li><a class="nav-link" [routerLink]="'advisor/situations'">Situations</a></li>
                        <li><a class="nav-link" [routerLink]="'advisor/situation-message-types'">Situation Message Types</a></li>
                        <li><a class="nav-link" [routerLink]="'advisor/situation-messages'">Situation Messages</a></li>
                        <li><a class="nav-link" [routerLink]="'advisor/situation-references'">Situation References</a></li>
                    </ul>
                </section>
                <a [routerLink]="'restrictions'" routerLinkActive="active" class="nav-link">
                    <fa-icon class="sidenav-icon" [icon]="faListAlt"></fa-icon>Restrictions
                </a>
                <a [routerLink]="'subscriptions'" routerLinkActive="active" class="nav-link">
                    <fa-icon class="sidenav-icon" [icon]="faBookmark"></fa-icon>Subscriptions
                </a>
                <a [routerLink]="'user-management'" routerLinkActive="active" class="nav-link">
                    <fa-icon class="sidenav-icon" [icon]="faUserCircle"></fa-icon>User Management
                </a>
            </section>
        </nav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>