

.modal-heading {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    margin-left: 5px;
  }
  
.spacer {
    flex: 1 1 auto;
}

mat-icon:hover {
    cursor: pointer;
}


.mat-dialog-title {
    //padding: 24px;
    margin: -24px -24px 24px -24px;
    width: auto;
}