 <mat-form-field class="mw">
  <mat-label>{{label}}</mat-label>
  <mat-icon *ngIf="this.icon" matPrefix class="form-prefix">{{this.icon}}</mat-icon>

    <mat-select [formControl]="itemCtrl" [placeholder]="label" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="itemFilterCtrl"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        {{selector == '' ? item : item[selector]}}
      </mat-option>
    </mat-select>
  </mat-form-field> 