<app-dialog-wrapper headlineLabel="Abonnieren"></app-dialog-wrapper>

<div mat-dialog-content>
    <div style="margin-bottom: 15px;">
        <span class="contact-message">
            Abonniert hier Neuigkeiten zu Eurem Bundesland.
        </span>
    </div>
    <form [formGroup]="myForm">


        <mat-form-field appearance="outline" class="mw">
            <mat-label>Email</mat-label>
            <input required type="text" formControlName="email" matInput placeholder="Email"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <mat-error *ngIf="f.email.touched && f.email.errors?.required">Email Adresse fehlt.</mat-error>
            <mat-error *ngIf="f.email.touched && f.email.errors?.pattern">Ungültige Email Adresse</mat-error>
        </mat-form-field>

        <h3>Bereich</h3>

        <div class="section">
            <mat-radio-group formControlName="areal">
                <mat-radio-button *ngFor="let areal of this.areals" value="{{areal.value}}" style="margin-right: 20px;">
                    {{areal.viewValue}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div *ngIf="f.areal.value !== 'COUNTRY'">

            <mat-form-field appearance="outline" *ngIf="f.areal.value != 'ZIP' ">
                <mat-select formControlName="bankCtrl" placeholder="Bundesland" #singleSelect>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                        {{bank.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline" *ngIf="f.areal.value !== 'STATE'">
                <mat-label>Postleitzahl</mat-label>
                <input numeric matInput placeholder="12345" formControlName="zip" maxlength="5">
                <mat-error *ngIf="f.zip.touched && f.zip.errors?.required">Postleitzahl fehlt.</mat-error>
            </mat-form-field>

        </div>


        <h3>Einschränkungen</h3>

        <div formGroupName="restrTypes">
            <mat-checkbox *ngFor="let restr of this.restrictionTypes" formControlName="{{restr.value}}"
                style="display: block;">{{this.translate(restr.value)}}</mat-checkbox>
                <mat-error *ngIf="f.restrTypes.touched && f.restrTypes.errors?.minOneChecked" style="font-size: 80%; margin-top: 5px; margin-left: 10px;">Auswahl fehlt.</mat-error>

        </div>

        <div style="margin-top: 30px; margin-bottom: 30px;">
                <mat-checkbox formControlName="opt">Hiermit bestätige ich, dass ich die <a
                    href="www.google.de">Datenschutzerklärung</a> gelesen habe.</mat-checkbox>
          
        </div>

        <re-captcha required formControlName="recaptcha" (resolved)="resolved($event)"></re-captcha>
        
    </form>


</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-stroked-button (click)="onNoClick()">Abbrechen</button>
    <button mat-stroked-button [disabled]="!myForm.valid" (click)="onSubmit()" cdkFocusInitial>Senden</button>
</div>