
<mat-toolbar mat-dialog-title>
    <mat-toolbar-row>
        <span class="modal-heading"> Corona: Verordnung hinzufügen</span>
    </mat-toolbar-row>
</mat-toolbar>


<div mat-dialog-content>

    <div>


        <div fxFlex fxLayout="row" fxLayoutAlign="space-between start">

            <div fxFlex="45">

                <h2 class="subhead">Geltungsbereich</h2>

                <mat-radio-group [(ngModel)]="this.areal">
                    <mat-radio-button value="COUNTRY">Bundesweit</mat-radio-button>
                    <mat-radio-button value="COUNTY">Bundesland</mat-radio-button>
                    <mat-radio-button value="ZIP">Stadt</mat-radio-button>
                </mat-radio-group>


                <div fxLayout="row" fxLayoutGap="10px" *ngIf="this.areal !== 'COUNTRY'">

                    <mat-form-field fxFlex="50" appearance="outline" *ngIf="this.areal != 'ZIP' ">
                        <mat-label>Bundesland</mat-label>
                        <mat-select [(ngModel)]="location">
                            <mat-option *ngFor="let county of counties" [value]="county.value">
                                {{county.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="50" appearance="outline" *ngIf="this.areal !== 'COUNTY'">
                        <mat-label>Postleitzahl</mat-label>
                        <input numeric matInput placeholder="2929" [(ngModel)]="zip" maxlength="5">
                    </mat-form-field>

                </div>

                <h2 class="subhead">Kategorie</h2>

                <mat-form-field appearance="outline">
                    <mat-label>Kategorie</mat-label>
                    <mat-select [(ngModel)]="this.kategorie">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{this.translate(category.viewValue)}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Kurzbeschreibung</mat-label>
                    <input matInput [(ngModel)]="this.title">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Beschreibung</mat-label>
                    <textarea matInput [(ngModel)]="this.description"></textarea>
                </mat-form-field>

                <mat-radio-group [(ngModel)]="this.restrictionState">
                    <mat-radio-button value="restriction">Einschränkungen</mat-radio-button>
                    <mat-radio-button value="ban">Verbote</mat-radio-button>
                </mat-radio-group>

                <mat-form-field appearance="outline">
                    <mat-label>Quelle</mat-label>
                    <input matInput placeholder="" [(ngModel)]="this.source">
                </mat-form-field>


                <h3 class="subhead">Gültigkeit</h3>

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50" appearance="outline">
                        <mat-label>Anfang</mat-label>
                        <input matInput [matDatepicker]="picker1" [(ngModel)]="start">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field fxFlex="50" appearance="outline">
                        <mat-label>Ende</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="end">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                </div>


            </div>

            <div fxFlex="1" class="divider">
                <mat-divider [vertical]="true"></mat-divider>
            </div>


            <div fxFlex="45">

                <h1 class="subhead">Vorschau</h1>
                <p class="restriction">{{this.restrictionState == 'ban' ? 'Verbote' : 'Einschränkungen'}}</p>
                <mat-divider></mat-divider>

                <p class="type">{{this.cats[this.kategorie]}}</p>

                <h1 class="subhead" *ngIf="this.areal == 'COUNTRY'">Deutschland</h1>
                <h1 class="subhead" *ngIf="this.areal =='COUNTY'">{{this.location}}</h1>
                <h1 class="subhead" *ngIf="this.areal =='ZIP'">{{this.zip}}</h1>
                <!-- <p>{{this.zip}}</p> -->

                <p class="text">{{this.description}}</p>
                <p class="restriction">{{this.source}}</p>
                <span class="datum" *ngIf="this.start != undefined">von {{this.formatDate(this.start)}} </span><span class="datum" *ngIf="this.end != undefined">bis {{this.formatDate(this.end)}}</span>
            </div>

        </div>



    </div>





</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-stroked-button (click)="onNoClick()">Abbrechen</button>
    <button mat-stroked-button (click)="onSubmit()" cdkFocusInitial>Senden</button>
</div>
