.section {
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

.send {
    float: right;
}


mat-radio-button {
    margin-right: 10px;
    margin-bottom: 20px;
}


.source {
    float: right;
}