<modal-wrapper title="{{data.mode}} Situation Type">

  <div d-body>

    <form [formGroup]="myForm">


      <mat-form-field class="max-width" appearance="standard">
        <mat-icon matPrefix class="form-prefix">label</mat-icon>
        <mat-label>Name</mat-label>
        <input required type="text" formControlName="name" matInput placeholder="Situation 1 ...">
        <mat-error *ngIf="f.name.touched && f.name.errors?.required">This field is required.</mat-error>
      </mat-form-field>

      <mat-form-field class="max-width" appearance="standard">
        <mat-icon matPrefix class="form-prefix">subject</mat-icon>
        <mat-label>Description</mat-label>
        <input required type="text" formControlName="description" matInput placeholder="Situation description ...">
        <mat-error *ngIf="f.description.touched && f.description.errors?.required">This field is required.</mat-error>
      </mat-form-field>

      <mat-form-field class="max-width" appearance="standard">
        <mat-icon matPrefix class="form-prefix">feedback</mat-icon>
        <mat-label>Severity</mat-label>
        <mat-select formControlName="severity" required>
          <mat-option *ngFor="let sev of severities" [value]="sev">{{sev}}</mat-option>
        </mat-select>
        <mat-error *ngIf="f.severity.touched && f.severity.errors?.required">This field is required.</mat-error>
      </mat-form-field>

    <!-- 
        
        <mat-form-field class="max-width" appearance="standard">
              <mat-icon matPrefix class="form-prefix">image</mat-icon>
              <mat-label>Media</mat-label>
              <mat-select formControlName="media_old" required>
                <mat-select-trigger>
                  <img class="image-preview" src="https://api.dev.crimsy.tech/webresources/{{this.f.media?.value?.id}}/download">{{this.f.media?.value?.fileName}}
                </mat-select-trigger>
                <mat-option *ngFor="let med of myMedias" [value]="med">
                  <img class="image-preview" src="https://api.dev.crimsy.tech/webresources/{{med.id}}/download">
                  {{med.fileName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.media?.touched && f.media?.errors?.required">This field is required.</mat-error>
            </mat-form-field>
-->


      <dir-image-picker label="Media" required="true" formControlName="media" icon="image"></dir-image-picker>


    </form>

  </div>


  <div d-actions>
    <modal-save-button [disabled]="!myForm.valid" (click)="onSave()"></modal-save-button>
    <modal-cancel-button (click)="onCancel()"></modal-cancel-button>
  </div>

</modal-wrapper>