
.spacer {
    flex: 1 1 auto;
}


.modal__content {
    padding: 12px 18px;
    margin-top: 12px;
    height: 100%;
    overflow: scroll;
}

.dialog-actions {
    padding: 0px 15px 15px 15px;
}

.dialog-title {
    margin: 15px;
    font-size: 200%;
}

.close-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.title {
    margin: 0px;
}