<!-- 
    
    <div class="modal">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span> {{this.title}}</span>
            <span class="spacer"></span>
            <mat-icon (click)="onClose()">close</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="modal__content" fxLayout="row" fxLayoutAlign="space-between start">
        <ng-content select="[d-body]">
        </ng-content>
    </div>

    <div class="dialog-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <ng-content select="[d-actions]">
        </ng-content>
    </div>
</div>

-->



<!-- 

  <div class="modal" (click)="onClose()">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" (click)="onClose()">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title">{{this.title}}</h3>
            </div>
            <div class="modal-body">
                <ng-content select="[d-body]"></ng-content>
            </div>
            <div class="modal-footer">
                <ng-content select="[d-actions]">
                </ng-content>
            </div>
        </div>
    </div>
</div>

-->


    <div class="modal-dialog" role="dialog">
        
            <div class="dialog-title" fxLayout="row" fxLayoutAlign="space-between center">
                <h3 class="title">{{this.title}}</h3>

                    <clr-icon class="close-button inline" (click)="onClose()" shape="close"></clr-icon>

            </div>
            <div class="modal__content">
                <ng-content select="[d-body]"></ng-content>
            </div>
            <div class="dialog-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                <ng-content select="[d-actions]">
                </ng-content>
            </div>
    </div>
