<div class="content-body">

    <div id="background-map" class="map-cont content-desktop">
      <app-map [mode]="this.mode"></app-map>
    </div>
  
    <div class="non-clickable content-desktop" fxLayout="row" fxLayoutAlign="space-around center">
  
      <div fxFlex="10" class="content-desktop">
        <mat-list class="icon-list">
          <mat-list-item (click)="onIcon('bus')" (mouseover)="onIconIn('bus')" (mouseleave)="onIconOut()">
            <mat-icon id="modeBus" [class.selected]="this.mode == 'bus'" class="icon bus"
                      matBadge="{{this.feedService.bus_count}}" matBadgeHidden="{{this.feedService.bus_count == 0}}"
                      matBadgePosition="above after">directions_bus
            </mat-icon>
            <div class="content-bar-label transport-icon-label">
                <div style="opacity: 10;">Nahverkehr</div>
            </div>  
          </mat-list-item>
          <mat-list-item (click)="onIcon('person')" (mouseover)="onIconIn('person')" (mouseleave)="onIconOut()">
            <mat-icon class="icon people" [class.selected]="this.mode == 'person'"
                      matBadge="{{this.feedService.person_count}}" matBadgeHidden="{{this.feedService.person_count == 0}}"
                      matBadgePosition="above after">people
            </mat-icon>
            <div class="content-bar-label people-icon-label">
                Veranstaltungen und Gruppen
            </div>  
          </mat-list-item>
          <mat-list-item (click)="onIcon('restaurant')" (mouseover)="onIconIn('restaurant')" (mouseleave)="onIconOut()">
            <mat-icon class="icon restaurant" [class.selected]="this.mode == 'restaurant'"
                      matBadge="{{this.feedService.restaurant_count}}"
                      matBadgeHidden="{{this.feedService.restaurant_count == 0}}" matBadgePosition="above after">
              restaurant_menu
            </mat-icon>
            <div class="content-bar-label restaurant-icon-label">
                Gastronomie
            </div>  
          </mat-list-item>
          <mat-list-item (click)="onIcon('eco')" (mouseover)="onIconIn('eco')" (mouseleave)="onIconOut()">
            <mat-icon class="icon eco" [class.selected]="this.mode == 'eco'" matBadge="{{this.feedService.eco_count}}"
                      matBadgeHidden="{{this.feedService.eco_count == 0}}" matBadgePosition="above after">eco
            </mat-icon>
            <div class="content-bar-label eco-icon-label">
                Öffentliche Plätze
              </div>  
          </mat-list-item>
          <mat-list-item (click)="onIcon('shopping')" (mouseover)="onIconIn('shopping')" (mouseleave)="onIconOut()">
            <mat-icon class="icon shopping" [class.selected]="this.mode == 'shopping'"
                      matBadge="{{this.feedService.shopping_count}}"
                      matBadgeHidden="{{this.feedService.shopping_count == 0}}" matBadgePosition="above after">
              shopping_cart
            </mat-icon>
            <div class="content-bar-label shopping-icon-label">
                Einzelhandel
              </div>  
          </mat-list-item>
          <mat-list-item (click)="onIcon('close')" (mouseover)="onIconIn('close')" (mouseleave)="onIconOut()">
            <mat-icon class="icon close" [class.selected]="this.mode == 'close'"
                      matBadge="{{this.feedService.close_count}}" matBadgeHidden="{{this.feedService.close_count == 0}}"
                      matBadgePosition="above after">cancel
            </mat-icon>        
            <div class="content-bar-label closed-icon-label">
              Sperren
            </div>            
          </mat-list-item>
        </mat-list>
      </div>
  
      <div class="center-column content-desktop" fxFlex="60">
  
      </div>

      <div class="feed" fxFlex="" [class.isMobile]="isMobile">
  
        <div class="content-desktop">
          <button mat-stroked-button (click)="openDialog()" style="width: 142px">
            <mat-icon style="font-size: 20px; padding-top: 8px;">add</mat-icon>
            Verordnung
          </button>
          <div style="font-size: 14px; float: right; margin-top: 12px;">
            <b>34</b> Einschränkungen, <b>8</b> Verbote
          </div>
        </div>
        <app-feed></app-feed>
  
      </div>
  
  
    </div>
  
  
  </div>