mat-toolbar, mat-toolbar-row {
    background-color:transparent
}

.mat-dialog-title {
    //padding: 24px;
    margin: -24px -24px 0px -24px;
    width: auto;
}

.pre-text {
    color: #a0a0a0;
    margin-right: 10px;
  }