<dir-header>
    Über "Darf ich raus?"
</dir-header>





<dir-content>

    <h3>
        Die Idee
    </h3>

    <p>
        Zur Eindämmung der Krise werden in schneller Folge viele rechtliche Regelungen erlassen, insbesondere in Form
        von
        Allgemeinverfügungen und Verordnungen. Sie kommen zu einem kleinen Teil von Bund, viele auch von den Ländern,
        die
        meisten aber von den Kreisen und kreisfreien Städten. Die Inhalte der Regelungen sind zwar in einem gewissen
        Maße
        koordiniert, aber nicht völlig identisch. Zusätzlich gibt es noch Erlasse der Landesregierungen an die Kreise,
        die
        zum Verständnis der Entscheidungen hilfreich sind, wenn sie auch nicht direkt auf die Bürger wirken. Zur
        Auslegung
        der Regelungen sind auch die amtlichen Begründungen (soweit verfügbar) interessant. Auf den Webseiten der vielen
        regelnden Stellen, sind die Dokumente auch nicht immer schnell zu finden. Es ist deshalb schwer, den Überblick
        zu
        behalten, was an einem bestimmten Ort gerade gilt.
    </p>

    <p>
        Die Idee ist es eine Website bereitzustellen, welche alle Regelungen gut sortiert und durchsuchbar enthält. Uns
        ist dabei wichtig,
        dass eine Sortierung nach räumlichen Gebieten und Sachbereichen, um die jeweils gültigen Regelungen zu finden
        ist und einen Vergleich zu ermöglichen. Auch sind Metadaten für eine Suche hilfreich. Um der Entwicklung Schritt
        zu halten können, ist es wichtig, dass es als Nutzer möglich ist, auf neue Regelungen hinzuweisen und/oder
        mitzumachen, indem man eine bestimmte Region jeweils auf dem aktuellen Stand hält.
    </p>

    <h3>Wie funktioniert "Darf ich raus?" ?</h3>
    <p>...</p>
    <h3>Kann ich "Darf ich raus?" und den hier dargestellten Inhalten vertrauen ?</h3>
    <p>...</p>


</dir-content>